//Impact page styles
.impactBanner {
    background: $light;
    border: none;
    .back {
        background: $blue;
        width: 100%;
        height: 65%;
        top: 0;
        left: 0;
    }
    .bannerTxt {
        z-index: 1;
        h1 {
            font-size: 64px;
            font-weight: 900;
            color: white;
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
            color: $dark;
        }
    }
    .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
}

.impactTraining {
    background: $light;
    .back {
        top: 0;
        right: 0;
        width: 95%;
        height: 100%;
        background: white !important;
        z-index: 0;
    }
    h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 900 !important;
        color: $dark;
        z-index: 2;
        span {
            color: $blue;
        }
    }
    h5 {
        font-size: 32px;
        line-height: 40px;
        font-weight: normal;
        color: $dark;
        z-index: 2;
    }
    .impactCard {
        z-index: 2;
        .cardImg {
            width: 100%;
            height: 647px;
            object-fit: cover;
        }
        .text {
            border-top: 1px solid #292929;
            border-bottom: 1px solid #292929;
            h3 {
                font-size: 32px;
                line-height: 40px;
                color: $dark;
                font-weight: bold;
            }
            p {
                font-size: 24px;
                color: $dark;
                line-height: 32px;
            }
            a {
                font-size: 24px;
                color: $blue;
                line-height: 32px;
                font-weight: bolder;
                img {
                    width: 59px;
                    height: 59px;
                }
            }
        }
        
    }
}

.impactCommunity {
    background: $light;
    .intro {
        grid-template-columns: 1fr 3fr;
        grid-gap: 0;
        align-items: center;
        h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 900 !important;
            color: $dark;
            z-index: 2;
            span {
                color: $blue;
            }
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: normal;
            color: $dark;
            z-index: 2; 
        }
    }
    .imageBox {
        width: 100%;
        height: 100%;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .detailsBox {
        .impact {
            h3 {
                font-size: 40px;
                line-height: 48px;
                font-weight: bold;
                color: $dark;
            }
            p {
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
                color: $dark;
            }
            span {
                img{
                    width: 89px;
                    height: 89px;
                }
            }
        }
        .impact1,.impact2,.impact3 {
            background: $orange;
        }
        .impact4 {
            background: $red;
        }
    }
}

.impactEnvironment {
    background: $light;
    .intro {
        h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 900 !important;
            color: $dark;
            z-index: 2;
            span {
                color: $blue;
            }
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: normal;
            color: $dark;
            z-index: 2; 
        }
    }
    
    .impactCard {
        width: auto;
        height: 600px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        transition: all .3s ease-in-out;
        .imgWrapper {
            overflow: hidden;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            height: 100%;
            img {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-in-out;
                &:hover {
                    width: 120% !important;
                    height: 120% !important;
                }
            }
        }
        .cardTxt {
            background: white;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            h4 {
                font-size: 32px;
                font-weight: bold;
                color: $dark;
            }
            p {
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
                color: $dark;
            }
        }
    }
}

//Impact Training Styles
.trainingDetails {
    background: $light;
    .back {
        top: 0;
        right: 0;
        width: 95%;
        height: 100%;
        background: white !important;
        z-index: 0;
    }
    .wrapper {
        z-index: 2;
        grid-template-columns: 1.5fr 2fr;
        img {
            width: auto;
            height: 647px;
            object-fit: cover;
        }
        .trainingText {
            h1 {
                font-size: 48px;
                line-height: 56px;
                font-weight: 900 !important;
                color: $dark;
            }
            p {
                font-size: 32px;
                color: $dark;
                line-height: 40px;
                font-weight: normal;
            }
        }
    }
}

.trainingCommitment {
    background: $light;
    .wrapper {
        grid-template-columns: 1fr 3fr;
        .avatarSection {
            h1 {
                font-size: 48px;
                line-height: 56px;
                font-weight: 900 !important;
                color: $dark;
                z-index: 2;
                span {
                    color: $blue;
                }
            }
            img {
                width: 320px;
                height: 370px;
                object-fit: contain;
            }
        }
        .textSection {
            h3 {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 48px !important;
                font-weight: bold;
                color: $dark;
            }
            .initiatives {
                grid-template-columns: 1fr 1fr;
                .initiative {
                    .top {
                        width: auto;
                        height: auto;
                        display: grid !important;
                        grid-template-columns: 1fr 4fr;
                        span {
                            width: 125px;
                            height: 120px;
                            background: $blue;
                            padding: 15px;
                            border-radius: 30px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h5 {
                            font-size: 32px;
                            line-height: 40px;
                            font-weight: bolder;
                        }
                    }
                    
                    p {
                        font-size: 24px;
                        line-height: 32px;
                        font-weight: normal;
                        color: $dark;
                    }
                }
            }
        }
    }
}

.trainingGallery {
    background: $light;
    .back {
        top: 0;
        right: 0;
        background: white;
        height: 100%;
        width: 95%;
        z-index: 0;
    }
    .topSection {
        z-index: 2;
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
        .topText {
            h1 {
                font-size: 48px;
                font-weight: bolder;
                line-height: 56px;
                color: $dark;
                span {
                    color: $blue;
                }
            }
            p {
                font-size: 32px;
                font-weight: normal;
                line-height: 40px;
                color: $dark;
                width: 70%; 
            }
        }
    }
    .gallery {
        z-index: 2;
        .trainingImg{
            width: auto;
            height: 475px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .imgLightbox {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #EACBD1;
        .modalWrapper {
            position: relative;
            .close {
                position: absolute;
                top: 50px;
                right: 50px;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 70vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

.trainingSpacing {
    background: $light;
}

//Impact Community/Environment Styles (Share the same structure)
.communityInfo {
    background: $light;
    .back {
        top: 0;
        right: 0;
        background: white;
        height: 100%;
        width: 95%;
        z-index: 0;
    }
    .topSection {
        z-index: 2;
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
        .topText {
            h1 {
                font-size: 48px;
                font-weight: bolder;
                line-height: 56px;
                color: $dark;
                span {
                    color: $blue;
                }
            }
            p {
                font-size: 32px;
                font-weight: normal;
                line-height: 40px;
                color: $dark;
                width: 100%; 
            }
        }
    }
    .gallery {
        z-index: 2;
        .communityImg{
            width: auto;
            height: 475px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .imgLightbox {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #EACBD1;
        .modalWrapper {
            position: relative;
            .close {
                position: absolute;
                top: 50px;
                right: 50px;
                img {
                    width: 48px;
                    height: 48px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 70vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1600px) {
.impactBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 60% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 45px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            width: 70%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.impactTraining {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h5 {
        font-size: 24px;
        line-height: 30px;
        padding: 20px 0 !important;
    }
    h1,h5,.trainGrid {
        margin: 0 !important;
    }
    .trainGrid {
        grid-gap: 40px !important;
    }
    .impactCard {
        .cardImg {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
        .text {
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
            a {
                font-size: 16px;
                line-height: 20px;
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }
        
    }
}
.impactCommunity {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        margin-bottom: 24px !important;
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .imageBox {
        width: 100%;
        height: 60vh;
        img {
            object-fit: cover;
            object-position: top center;
        }
    }
    .detailsBox {
        .impact {
            padding: 48px !important;
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
            span {
                margin: 0 !important;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                &:first-child {
                    margin-right: 15px !important;
                }
            }
        }
    }
}
.impactEnvironment {
    padding-bottom: 48px !important;
    .intro {
        align-items: center;
        margin-bottom: 0px !important;
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .impactSlider {
        margin-top: 20px !important;
    }
    .impactCard {
        width: auto;
        height: 60vh;
        .imgWrapper {
            overflow: hidden;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .cardTxt {
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            h4 {
                font-size: 22px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

//Impact Training Styles
.trainingDetails {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .wrapper {
        grid-template-columns: 1.5fr 2fr;
        grid-gap: 48px !important;
        img {
            width: 100%;
            height: 60vh;
        }
        .trainingText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
.trainingCommitment {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .wrapper {
        grid-template-columns: 1fr 3fr;
        .avatarSection {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }
        .textSection {
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px !important;
                font-weight: normal !important;
            }
            .initiatives {
                grid-template-columns: 1fr 1fr;
                grid-gap: 36px;
                .initiative {
                    .top {
                        grid-gap: 10px !important;
                        span {
                            width: 100px;
                            height: 100px;
                            padding: 15px;
                            margin-bottom: 5px;
                            border-radius: 20px !important;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h5 {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 900 !important;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    
                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
.trainingGallery {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .topSection {
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 60vh;
        }
        .topText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                width: 60%; 
            }
        }
    }
    .gallery {
        margin-top: 24px !important;
        .trainingImg {
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 30px;
                right: 30px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 70vh;
                }
                .next {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
.trainingSpacing {
    height: 48px !important;
}

//Impact Community
.communityInfo {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .topSection {
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
        .topText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .gallery {
        margin-top: 48px !important;
        .communityImg {
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 40px;
                right: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 60vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
}


@media only screen and (max-width: 1024px) {
.impactBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 55% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 40px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            width: 80%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.impactTraining {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h5 {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0 !important;
    }
    h1,h5,.trainGrid {
        margin: 0 !important;
    }
    .trainGrid {
        grid-gap: 40px !important;
    }
    .impactCard {
        .cardImg {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
        .text {
            h3 {
                font-size: 22px;
                line-height: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                width: 90% !important;
            }
            a {
                font-size: 16px;
                line-height: 20px;
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }
        
    }
}
.impactCommunity {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        margin-bottom: 24px !important;
        h1 {
            font-size: 30px;
            line-height: 40px;
            width: 100% !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .imageBox {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            object-position: top center;
        }
    }
    .detailsBox {
        .impact {
            padding: 48px !important;
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
            span {
                margin: 0 !important;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                &:first-child {
                    margin-right: 10px !important;
                }
            }
        }
    }
}
.impactEnvironment {
    padding-bottom: 48px !important;
    .intro {
        align-items: center;
        margin-bottom: 0px !important;
        h1 {
            font-size: 30px;
            line-height: 40px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .impactSlider {
        margin-top: 20px !important;
    }
    .impactCard {
        width: auto;
        height: 60vh;
        .imgWrapper {
            overflow: hidden;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .cardTxt {
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 15px !important;
            h4 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

//Impact Training Styles
.trainingDetails {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .wrapper {
        grid-template-columns: 1.5fr 2fr;
        grid-gap: 48px !important;
        img {
            width: 100%;
            height: 60vh;
        }
        .trainingText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
.trainingCommitment {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .wrapper {
        grid-template-columns: 1fr 3fr;
        .avatarSection {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }
        .textSection {
            h3 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 24px !important;
                font-weight: normal !important;
            }
            .initiatives {
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
                .initiative {
                    .top {
                        grid-template-columns: 1fr;
                        grid-gap: 10px !important;
                        span {
                            width: 80px;
                            height: 80px;
                            padding: 15px;
                            margin-bottom: 5px;
                            border-radius: 20px !important;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h5 {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: 900 !important;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    
                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
.trainingGallery {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .topSection {
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 60vh;
        }
        .topText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                width: 70%; 
            }
        }
    }
    .gallery {
        margin-top: 24px !important;
        .trainingImg {
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 30px;
                right: 30px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 70vh;
                }
                .next {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
.trainingSpacing {
    height: 48px !important;
}

//Impact Community
.communityInfo {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .topSection {
        grid-template-columns: 1.5fr 2fr;
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
        }
        .topText {
            h1 {
                font-size: 30px;
                line-height: 40px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .gallery {
        margin-top: 48px !important;
        .communityImg {
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 40px;
                right: 40px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 60vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
    }
}
}

@media only screen and (max-width: 768px) {
.impactBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 45% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 80%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.impactTraining {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h5 {
        font-size: 20px;
        line-height: 24px;
        padding: 20px 0 !important;
    }
    h1,h5,.trainGrid {
        margin: 0 !important;
    }
    .trainGrid {
        grid-gap: 40px !important;
    }
    .impactCard {
        .cardImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .text {
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                width: 90% !important;
            }
            a {
                font-size: 16px;
                line-height: 20px;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
            }
        }
        
    }
}
.impactCommunity {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        margin-bottom: 24px !important;
        grid-template-columns: 1fr 2.5fr;
        h1 {
            font-size: 24px;
            line-height: 30px;
            width: 100% !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .imageBox {
        width: 100%;
        height: 100%;
        img {
            object-fit: cover;
            object-position: top center;
        }
    }
    .detailsBox {
        .impact {
            padding: 40px !important;
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
            span {
                margin: 0 !important;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                &:first-child {
                    margin-right: 10px !important;
                }
            }
        }
    }
}
.impactEnvironment {
    .intro {
        h1 {
            font-size: 24px;
            line-height: 30px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 80% !important;
        }
    }
    
    .impactCard {
        width: auto;
        height: 300px;
        .cardTxt {
            h4 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &:last-child {
            h4 {
                width: 30% !important;
            }
        }
        &:nth-child(1), &:nth-child(2) {
            h4 {
                width: 60% !important;
            }
        }
    }
}

//Impact Training Styles
.trainingDetails {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        img {
            width: 100%;
            height: 300px !important;
        }
        .trainingText {
            h1 {
                font-size: 30px;
                line-height: 35px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
.trainingCommitment {
    .wrapper {
        grid-template-columns: 1fr;
        .avatarSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            justify-content: center;
            align-content: center;
            h1 {
                font-size: 30px;
                line-height: 35px;
            }
            img {
                width: 150px;
                height: 150px;
            }
        }
        .textSection {
            h3 {
                font-size: 24px;
                line-height: 30px;
            }
            .initiatives {
                grid-template-columns: 1fr 1fr;
                .initiative {
                    .top {
                        grid-template-columns: 1fr;
                        span {
                            width: 80px;
                            height: 80px;
                            padding: 15px;
                            margin-bottom: 15px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h5 {
                            font-size: 20px;
                            line-height: 24px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    
                    p {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
.trainingGallery {
    .topSection {
        grid-template-columns: 1fr 1fr;
        img {
            width: 100%;
            height: 300px;
        }
        .topText {
            h1 {
                font-size: 32px;
                line-height: 40px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                width: 80%; 
            }
        }
    }
    .gallery {
        max-height: 300px;
        .trainingImg {
            width: 100%;
            height: 100% auto;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 20px;
                right: 20px;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
                .modalImage {
                    width: 60vw;
                    height: 40vh;
                }
                .next {
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

//Impact Community
.communityInfo {
    .topSection {
        grid-template-columns: 1.5fr 1.5fr;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .topText {
            h1 {
                font-size: 30px;
                line-height: 40px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .gallery {
        .communityImg{
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 30px;
                right: 30px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .modalImage {
                    width: 50vw;
                    height: 60vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
}

@media only screen and (max-width: 540px) {
.impactBanner {
    grid-gap: 0;
    padding: 30px 24px !important;
    .back {
        height: 80%;
    }
    .bannerTxt {
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        p,h5 {
            color: white;
            font-size: 16px !important;
        }
    }
    .bannerImg {
        height: 300px;
        object-fit: cover;
    }
}
.impactTraining {
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    h5 {
        font-size: 20px;
        line-height: 24px;
    }
    .impactCard {
        .cardImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
            a {
                font-size: 16px;
                line-height: 20px;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        
    }
}
.impactCommunity {
    padding: 30px 24px !important;
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
            text-align: center;
        }
    }
    .imageBox {
        height: 300px;
    }
    .detailsBox {
        .impact {
            height: auto;
            padding: 30px !important;
            h3 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
            span {
                img{
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                }
            }
        }
    }
}
.impactEnvironment {
    padding: 30px 24px !important;
    .intro {
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            width: 100% !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            width: 100%;
        }
    }
    
    .impactCard {
        width: auto;
        height: 350px;
        .cardTxt {
            padding: 20px;
            h4 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &:last-child {
            h4 {
                width: 30% !important;
            }
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            h4 {
                width: 100% !important;
            }
        }
    }
}

//Impact Training Styles
.trainingDetails {
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    .wrapper {
        grid-template-columns: 1fr;
        img {
            width: 100%;
            height: 300px !important;
        }
        .trainingText {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
}
.trainingCommitment {
    .wrapper {
        grid-template-columns: 1fr;
        .avatarSection {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: center;
            h1 {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }
            img {
                width: 200px;
                height: 200px;
            }
        }
        .textSection {
            h3 {
                font-size: 22px;
                line-height: 30px;
                text-align: center;
            }
            .initiatives {
                grid-template-columns: 1fr;
                .initiative {
                    .top {
                        grid-template-columns: 1fr;
                        align-items: center;
                        justify-items: center;
                        span {
                            width: 110px;
                            height: 100px;
                            padding: 15px;
                            margin-bottom: 15px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h5 {
                            font-size: 20px;
                            line-height: 30px;
                            text-align: center;
                        }
                    }
                    
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.trainingGallery {
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    .topSection {
        grid-template-columns: 1fr;
        img {
            width: 100%;
            height: 300px;
        }
        .topText {
            align-items: center;
            h1 {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                width: 100%; 
                text-align: center;
            }
        }
    }
    .gallery {
        max-height: 300px;
        .trainingImg {
            width: 100%;
            height: 100% auto;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 20px;
                right: 20px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
                .modalImage {
                    width: 60vw;
                    height: 30vh;
                }
                .next {
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

//Impact Community
.communityInfo {
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    .topSection {
        grid-template-columns: 1fr;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover !important;
        }
        .topText {
            align-items: center;
            h1 {
                font-size: 32px;
                line-height: 40px;
                text-align: center;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
    .gallery {
        .communityImg{
            width: 100%;
            height: 100%;
        }
    }
    .imgLightbox {
        .modalWrapper {
            .close {
                top: 30px;
                right: 30px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .modalContent {
                .previous {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                .modalImage {
                    width: 60vw;
                    height: 30vh;
                    object-fit: cover;
                }
                .next {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
}