//News Banner Section
.newsBanner {
    background: $light;
    border: none;
    .back {
        background: $blue;
        width: 100%;
        height: 65%;
        top: 0;
        left: 0;
    }
    .bannerTxt {
        z-index: 1;
        h1 {
            font-size: 64px;
            font-weight: 900;
            color: white;
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
            color: $dark;
        }
        h5 {
            font-size: 24px;
            color: $dark;
        }
    }
    .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
}

//News Articles Section
.newsArticles {
    background: $light;
    .newsTabs {
        .tab {
            width: 348px;
            height: 98px;
            border-radius: 30px;
            background: white;
            box-shadow: 4px 2px 4px 3px #7070701f;
            transition: all .3s ease-in-out;
            p {
                color: $dark;
                font-size: 24px;
                line-height: 32px;
                font-weight: bolder;
            }
        }
        .activeNewsTab {
            background: $blue !important;
            p {
                color: white !important;
            }
        }
    }
    .yearInput {
        background: #E2E2E2;
        border-radius: 30px;
        width: fit-content;
        height: 95px;
        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: normal;
            color: $dark;
        }
        .s-hidden {
            visibility:hidden;
            padding-right: 10px;
        }
        .select {
            cursor:pointer;
            display:flex;
            align-items: center;
            position:relative;
            color: $dark;
            background: $light;
            width: 300px;
            height: 100%;
            border-radius: 30px;
            font-size: 24px;
            line-height: 32px;
        }
        .styledSelect {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-color: $light;
            padding:0 20px;
            font-weight:normal;
            font-size: 24px;
            line-height: 32px;
            width: 300px;
            height: 100%;
            border-radius: 30px !important;
            display:flex;
            align-items: center;
            &:after {
                content:"";
                width:0;
                height:0;
                border:10px solid transparent;
                border-color: $dark transparent transparent transparent;
                position:absolute;
                top: 45%;
                right: 20px;
            }
            &:active {
                background-color: $light;
            }
        }
        .styledSelect.active {
            background-color: $light;
        }
        .options {
            display:none;
            position:absolute;
            top:100%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            right:0;
            left:0;
            z-index: 60;
            margin:0 0;
            padding: 10px;
            list-style:none;
            border:1px solid #E2E2E2;
            background-color: $light;
            -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
            
            li {
                padding:0 6px;
                margin:0 0;
                padding:0 10px;
                &:hover {
                    background-color: $blue;
                    color:white;
                }
            }
        }
    }
    .articles {
        .article {
            background: white;
            border-radius: 30px;
            height: 700px;
            transition: all .3s ease-in-out;
            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 40px;
            }
            p {
                font-size: 24px;
                line-height: 32px;
                color: $dark;
                font-weight: normal;
            }
            &:hover {
                border: 2px solid #707070;
                p {
                    font-weight: 900;
                }
            }
        }
    }
    .more {
        width: 360px;
        height: 85px;
        background: transparent;
        color: $blue;
        font-size: 24px;
        line-height: 32px;
        font-weight: bolder;
        border: 3px solid $blue;
        border-radius: 30px;
        transition: all .3s ease-in-out;
        &:hover {
            background: $blue;
            color: white;
        }
    }
}

/*Article Page Styles*/
.articleTabs {
    background: $light;
    .tab {
        width: 348px;
        height: 98px;
        border-radius: 30px;
        background: white;
        box-shadow: 4px 2px 4px 3px #7070701f;
        transition: all .3s ease-in-out;
        p {
            color: $dark;
            font-size: 24px;
            line-height: 32px;
            font-weight: bolder;
        }
    }
    .activeNewsTab {
        background: $blue !important;
        p {
            color: white !important;
        }
    }
}

.articleContent {
    background: $light;
    .back {
        position: absolute;
        top: 0;
        right: 0;
        width: 95%;
        height: 100%;
        background: white;
        z-index: 0;
    }
    .top {
        z-index: 2;
        .articleImage {
            width: 100%;
            height: 650px;
            object-fit: cover;
        }
        .textContent {
            h4 {
                font-size: 48px;
                line-height: 56px;
                color: $dark;
                font-weight: bolder;
            }
            .time {
                img {
                    width: 40px;
                    height: 40px;
                }
                h6 {
                    font-size: 18px;
                    line-height: 32px;
                    color: $blue;
                    font-weight: bolder;
                }
            }
            p {
                font-size: 24px;
                line-height: 40px;
                color: $dark;
                font-weight: normal;
            }
        }
    }
    .textWrap{
        z-index: 2;
        p {
            font-size: 24px;
            line-height: 40px;
            color: $dark;
            font-weight: normal;
        }
    }
    .bottom {
        z-index: 2;
        .author {
            img {
                width: 100px;
                height: 100px;
            }
            h6 {
                font-size: 24px;
                line-height: 40px;
                color: $dark;
                font-weight: bold;
            }
            p {
                font-size: 24px;
                line-height: 40px;
                color: $dark;
                font-weight: normal;
            }
        }
        .shareBtn {
            height: 70px;
            width: auto;
            background: $blue;
            border-radius: 30px;
            padding: 0 24px;
            p {
                font-size: 16px;
                line-height: 40px;
                color: white;
                font-weight: bolder;
            }
            img {
                width: 46px;
                height: 38px;
                object-fit: contain;
            }
        }
    }
}

//Related stories
.relatedStories {
    background: $light;
    h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: bolder;
        text-decoration: underline;
    }
    .articles {
        .article {
            background: white;
            border-radius: 30px;
            height: 700px;
            transition: all .3s ease-in-out;
            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 40px;
            }
            p {
                font-size: 24px;
                line-height: 32px;
                color: $dark;
                font-weight: normal;
            }
            &:hover {
                border: 2px solid #707070;
            }
        }
    }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1600px) {
.newsBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 67% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 45px;
            line-height: 52px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            width: 70%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.newsArticles {
    .newsTabs {
        margin-bottom: 48px !important;
        .tab {
            width: 250px;
            height: 60px;
            border-radius: 20px !important;
            margin: 0 !important;
            p {
                font-size: 18px;
                line-height: 24px;
            }
            &:nth-child(2) {
                margin: 0 30px !important;
            }
        }
    }
    .yearInput {
        height: auto;
        border-radius: 20px !important;
        padding: 10px 20px !important;
        p {
            font-size: 18px;
            line-height: 24px;
        }
        .select {
            width: 250px;
            height: 50px;
            border-radius: 20px !important;
            font-size: 18px;
            line-height: 24px;
        }
        .styledSelect {
            padding:0 20px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 20px !important;
            width: 100%;
            height: 100%;
            &:after {
                top: 45%;
                right: 20px;
            }
        }
        .options {
            padding: 10px;
            li {
                padding:0 6px;
                margin:0 0;
                padding:0 10px;
            }
        }
    }
    .articles {
        margin-top: 24px !important;
        grid-gap: 30px !important;
        .article {
            height: 70vh;
            img {
                width: 100%;
                height: 70%;
                border-radius: 20px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .more {
        width: 250px;
        height: 60px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 20px !important;
    }
}

//Article Page
.articleTabs {
    padding-bottom: 24px !important;
    .tab {
        width: 250px;
        height: 60px;
        border-radius: 20px !important;
        margin: 0 !important;
        p {
            font-size: 18px;
            line-height: 24px;
        }
        &:nth-child(2) {
            margin: 0 30px !important;
        }
    }
}
.articleContent {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .top {
        .articleImage {
            width: 100%;
            height: 60vh;
        }
        .textContent {
            h4 {
                font-size: 32px;
                line-height: 40px;
            }
            .time {
                margin: 20px 0 !important;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
                h6 {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .textWrap{
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .bottom {
        margin-top: 24px !important;
        .btm {
            margin: 0 !important;
        }
        .author {
            img {
                width: 100px;
                height: 100px;
            }
            h6 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .shareBtn {
            height: 60px;
            width: auto;
            padding: 0 24px;
            border-radius: 20px !important;
            p {
                font-size: 16px;
                line-height: 40px;
                color: white;
                font-weight: bolder;
            }
            img {
                width: 40px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}
.relatedStories {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 24px !important;
    }
    .articles {
        margin-top: 0 !important;
        grid-gap: 30px !important;
        .article {
            height: 70vh;
            img {
                width: 100%;
                height: 70%;
                border-radius: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
}

@media only screen and (max-width: 1024px) {
.newsBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 62% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            width: 80%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.newsArticles {
    .newsTabs {
        margin-bottom: 48px !important;
        .tab {
            width: 200px;
            height: 60px;
            border-radius: 20px !important;
            margin: 0 !important;
            p {
                font-size: 16px;
                line-height: 24px;
            }
            &:nth-child(2) {
                margin: 0 25px !important;
            }
        }
    }
    .yearInput {
        height: auto;
        border-radius: 20px !important;
        padding: 10px 20px !important;
        p {
            font-size: 18px;
            line-height: 24px;
        }
        .select {
            width: 250px;
            height: 50px;
            border-radius: 20px !important;
            font-size: 18px;
            line-height: 24px;
        }
        .styledSelect {
            padding:0 20px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 20px !important;
            width: 100%;
            height: 100%;
            &:after {
                top: 45%;
                right: 20px;
            }
        }
        .options {
            padding: 10px;
            li {
                padding:0 6px;
                margin:0 0;
                padding:0 10px;
            }
        }
    }
    .articles {
        margin-top: 24px !important;
        grid-gap: 30px !important;
        .article {
            height: 70vh;
            img {
                width: 100%;
                height: 70%;
                border-radius: 20px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .more {
        width: 250px;
        height: 60px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 20px !important;
    }
}

//Article Page
.articleTabs {
    padding-bottom: 24px !important;
    .tab {
        width: 200px;
        height: 60px;
        border-radius: 20px !important;
        margin: 0 !important;
        p {
            font-size: 16px;
            line-height: 20px;
        }
        &:nth-child(2) {
            margin: 0 30px !important;
        }
    }
}
.articleContent {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .top {
        .articleImage {
            width: 100%;
            height: 80vh;
        }
        .textContent {
            h4 {
                font-size: 30px;
                line-height: 40px;
            }
            .time {
                margin: 20px 0 !important;
                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                }
                h6 {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .textWrap{
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .bottom {
        margin-top: 24px !important;
        .btm {
            margin: 0 !important;
        }
        .author {
            img {
                width: 100px;
                height: 100px;
            }
            h6 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .shareBtn {
            height: 60px;
            width: auto;
            padding: 0 24px;
            border-radius: 20px !important;
            p {
                font-size: 16px;
                line-height: 40px;
                color: white;
                font-weight: bolder;
            }
            img {
                width: 40px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}
.relatedStories {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 24px !important;
    }
    .articles {
        margin-top: 0 !important;
        grid-gap: 30px !important;
        .article {
            height: 70vh;
            img {
                width: 100%;
                height: 70%;
                border-radius: 30px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
}

@media only screen and (max-width: 768px) {
.newsBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 55% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 80%;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.newsArticles {
    .newsTabs {
        .tab {
            width: 160px;
            height: 50px;
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .yearInput {
        height: 60px;
        width: fit-content;
        p {
            font-size: 16px;
            line-height: 24px;
        }
        .select {
            width: 200px;
            height: 100%;
            font-size: 16px;
            line-height: 24px;
        }
        .styledSelect {
            padding:0 15px;
            font-size: 16px;
            line-height: 24px;
            width: 200px;
            height: 100%;
            &:after {
                top: 45%;
                right: 15px;
            }
        }
        .options {
            padding: 10px;
            li {
                padding:0 6px;
                margin:0 0;
                padding:0 10px;
            }
        }
    }
    .articles {
        .article {
            height: 400px;
            img {
                width: 100%;
                height: 70%;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .more {
        width: 200px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
}

//Article Page
.articleTabs {
    .tab {
        width: 160px;
        height: 60px;
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.articleContent {
    .top {
        .articleImage {
            width: 100%;
            height: 100%;
        }
        .textContent {
            h4 {
                font-size: 30px;
                line-height: 40px;
            }
            .time {
                img {
                    width: 30px;
                    height: 30px;
                }
                h6 {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .textWrap{
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .bottom {
        .author {
            img {
                width: 80px;
                height: 80px;
            }
            h6 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
        .shareBtn {
            height: 60px;
            width: 300px;
            padding: 0 24px;
            p {
                font-size: 16px;
                line-height: 20px;
            }
            img {
                width: 40px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}
.relatedStories {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .articles { 
        .article {
            height: 400px;
            img {
                width: 100%;
                height: 70%;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
}

@media only screen and (max-width: 540px) {
.newsBanner {
    grid-gap: 0;
    padding: 30px 24px !important;
    .back {
        height: 80%;
    }
    .bannerTxt {
        h1 {
            font-size: 32px;
        }
        p,h5 {
            color: white;
        }
    }
    .bannerImg {
        height: 300px;
        object-fit: cover;
    }
} 
.newsArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    .newsTabs {
        flex-direction: column;
        .tab {
            width: 100%;
            height: 60px;
            margin-bottom: 10px;
            p {
                font-size: 16px;
                line-height: 24px;
            }
            &:nth-child(2) {
                margin: 10px 0 !important;
            }
        }
    }
    .yearInput {
        height: auto;
        width: 100%;
        flex-direction: column;
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        .select {
            width: 100%;
            height: 60px;
            font-size: 16px;
            line-height: 24px;
        }
        .styledSelect {
            padding:0 15px;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            height: 100%;
            &:after {
                top: 45%;
                right: 15px;
            }
        }
        .options {
            padding: 10px;
            li {
                padding:0 6px;
                margin:0 0;
                padding:0 10px;
            }
        }
    }
    .articles {
        .article {
            height: 400px;
            img {
                width: 100%;
                height: 70%;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .more {
        width: 200px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }
}

//Article Page
.articleTabs {
    flex-direction: column;
    .tab {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
        p {
            font-size: 16px;
            line-height: 20px;
        }
        &:nth-child(2) {
            margin: 10px 0 !important;
        }
    }
}
.articleContent {
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    .top {
        .textContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-size: 30px;
                line-height: 32px;
                text-align: center;
            }
            .time {
                img {
                    width: 25px;
                    height: 25px;
                }
                h6 {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            p {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
    .textWrap{
        p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
    .bottom {
        .author {
            img {
                width: 60px;
                height: 60px;
            }
            h6 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .shareBtn {
            height: 60px;
            width: 100%;
            padding: 0 24px;
            margin-top: 10px;
            p {
                font-size: 16px;
                line-height: 24px;
            }
            img {
                width: 40px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}
.relatedStories {
    h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .articles { 
        .article {
            height: 400px;
            img {
                width: 100%;
                height: 70%;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}
}
