/*STYLE PAGE BANNER*/
.styleBanner {
    background: $light;
    border: none;
    .back {
        background: $blue;
        width: 100%;
        height: 65%;
        top: 0;
        left: 0;
    }
    .bannerTxt {
        z-index: 1;
        h1 {
            font-size: 64px;
            font-weight: 900;
            color: white;
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
            color: $dark;
        }
        h5 {
            font-size: 24px;
            color: $dark;
        }
        h6 {
            font-size: 24px;
            color: white;
            font-weight: bolder;
        }
        img {
            width: 39px;
            height: 39px;
        }
    }
    .bannerImg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
}

.styleHow {
    background: $light;
    .back {
        top: 0;
        right: 0;
        width: 95%;
        height: 100%;
        background: white !important;
        z-index: 0;
    }
    .imgBox {
        z-index: 2;
        height: 647px;
        width: auto;
        background: url('../assets/CAREER_JOIN\ IMAGE\ HOLDER.png') no-repeat center center;
        background-size: cover;
    }
    .textBox {
        z-index: 2;
        h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 900;
            color: $dark;
            span {
                color: $blue;
            }
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: normal;
            color: $dark;
        }
        .applyBtn {
            width: 415px;
            height: 98px;
            font-size: 24px;
            line-height: 32px;
            font-weight: bolder;
            background: $orange;
            color: $dark;
            border-radius: 25px;
            outline: none;
        }
    }
}

.styleBenefits {
    background: $light;
    .intro {
        grid-template-columns: 1fr 4fr;
        grid-gap: 0;
        h1 {
            font-size: 48px;
            line-height: 56px;
            font-weight: 900 !important;
            color: $dark;
            span {
                color: $blue;
            }
        }
        p {
            font-size: 32px;
            line-height: 40px;
            font-weight: normal;
            color: $dark;
        }
    }
    .benefitsCard {
        width: 494px;
        height: 518px;
        border-radius: 50px;
        .back1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            z-index: -1;
            background-color: $blue;
        }
        .back2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50px;
            z-index: -1;
        }
        .cardWrapper {
            z-index: 5;
            span {
                width: 100%;
                height: 98px;
                border-radius: 25px;
                background: #0E1C77;
                font-size: 32px;
                color: white;
                line-height: 40px;
                font-weight: bold;
            }
            p {
                font-size: 24px;
                color: $light;
                line-height: 32px;
            }
            a {
                font-size: 24px;
                color: $orange;
                line-height: 32px;
                font-weight: bolder;
                img {
                    width: 59px;
                    height: 59px;
                }
            }
        }
    }
}

.styleRegister {
    background: $light;
    h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 900 !important;
        color: $dark;
        span {
            color: $blue;
        }
    }
    
    .left, .right {
        height: 660px;
        width: auto;
    }
    
    .left {
        background: $orange;
        img {
            width: 500px;
            height: 500px;
        }
    }
    .right {
        background: $green;
        h3 {
            font-size: 40px;
            line-height: 48px;
            font-weight: 900 !important;
            color: white;
        }
        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: normal;
            color: white;
        }
    }
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1600px) {
.styleBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 60% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 45px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            width: 60%;
        }
        h5 {
            font-size: 18px;
            line-height: 24px;
        }
        h6 {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.styleHow {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        width: 95%;
    }
    .imgBox {
        height: 60vh;
    }
    .textBox {
        h1 {
            font-size: 32px;
            line-height: 40px;
            font-weight: 900 !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
        .applyBtn {
            width: 250px;
            height: 60px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 20px;
        }
    }
}
.styleBenefits {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        h1 {
            font-size: 32px;
            line-height: 40px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .benefitsSlider {
        margin-top: 20px;
        padding: 0 !important;
        height: auto;
        .benefitsCard {
            width: 100%;
            height: 50vh !important;
            border-radius: 20px;
            .back1 {
                border-radius: 20px;
            }
            .back2 {
                border-radius: 20px;
            }
            .cardWrapper {
                border-radius: 20px;
                span {
                    height: 60px;
                    font-size: 18px;
                    line-height: 24px;
                    border-radius: 20px;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
                a {
                    font-size: 16px;
                    line-height: 20px;
                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.styleRegister {
    padding-bottom: 48px !important;
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    
    .styleGrid {
        margin: 0 !important;
    }
    
    .left, .right {
        height: 60vh;
        width: 100%;
    }
    
    .left {
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
    .right {
        h3 {
            font-size: 24px;
            line-height: 30px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
}
}


//Medium size laptops
@media only screen and (max-width: 1024px) {
.styleBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 60% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            width: 60%;
        }
        h5 {
            font-size: 16px;
            line-height: 20px;
        }
        h6 {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.styleHow {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        width: 95%;
    }
    .imgBox {
        height: 60vh;
    }
    .textBox {
        h1 {
            font-size: 30px;
            line-height: 40px;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
        .applyBtn {
            width: 250px;
            height: 60px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 20px;
        }
    }
}
.styleBenefits {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        align-items: center;
        h1 {
            font-size: 30px;
            line-height: 40px;
            width: 100% !important;
        }
        p {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .benefitsSlider {
        margin-top: 20px;
        padding: 0 !important;
        height: auto;
        .benefitsCard {
            width: 100%;
            height: 50vh !important;
            border-radius: 20px;
            .back1 {
                border-radius: 20px;
            }
            .back2 {
                border-radius: 20px;
            }
            .cardWrapper {
                border-radius: 30px;
                span {
                    height: 60px;
                    font-size: 18px;
                    line-height: 24px;
                    border-radius: 20px;
                    margin-bottom: 20px !important;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
                a {
                    font-size: 16px;
                    line-height: 20px;
                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.styleRegister {
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    
    .styleGrid {
        margin: 0 !important;
    }
    
    .left, .right {
        height: 60vh;
        width: 100%;
    }
    
    .left {
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
    .right {
        padding: 40px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: 24px;
            line-height: 32px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
        }
    }
}
}

//Tablets
@media only screen and (max-width: 768px) {
.styleBanner {
    height: fit-content !important;
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        height: 55% !important;
    }
    .bannerTxt {
        h1 {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 20px !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 80%;
        }
        h5 {
            font-size: 14px;
            line-height: 20px;
        }
        h6 {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .bannerImg {
        margin-top: 0px !important;
    }
}
.styleHow {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .back {
        width: 95%;
    }
    .imgBox {
        height: 400px;
    }
    .textBox {
        h1 {
            font-size: 30px;
            line-height: 35px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
        }
        .applyBtn {
            width: 150px;
            height: 60px;
            font-size: 16px;
            line-height: 20px;
            border-radius: 20px;
        }
    }
}
.styleBenefits {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    .intro {
        align-items: center;
        grid-gap: 20px;
        h1 {
            font-size: 30px;
            line-height: 35px;
            width: 100% !important;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .benefitsSlider {
        margin-top: 20px;
        padding: 0 !important;
        height: auto;
        .benefitsCard {
            width: 100%;
            height: 300px !important;
            border-radius: 20px;
            .back1 {
                border-radius: 20px;
            }
            .back2 {
                border-radius: 20px;
            }
            .cardWrapper {
                border-radius: 20px;
                span {
                    height: 60px;
                    font-size: 18px;
                    line-height: 24px;
                    border-radius: 20px;
                    margin-bottom: 20px !important;
                }
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
                a {
                    font-size: 16px;
                    line-height: 20px;
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
.styleRegister {
    padding-bottom: 48px !important;
    h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    
    .styleGrid {
        margin: 0 !important;
    }
    
    .left, .right {
        height: 400px;
        width: 100%;
    }
    
    .left {
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
    .right {
        padding: 40px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-size: 24px;
            line-height: 32px;
            width: 100% !important;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            width: 100% !important;
        }
    }
}
}

//Mobile
@media only screen and (max-width: 540px) {
.styleBanner {
    grid-gap: 0;
    padding: 30px 24px !important;
    .back {
        height: 80%;
    }
    .bannerTxt {
        h1 {
            font-size: 32px;
        }
        p,h5 {
            color: white;
        }
    }
    .bannerImg {
        height: 300px !important;
        object-fit: cover;
    }
} 
.styleHow {
    grid-gap: 0;
    padding: 30px 24px !important;
    .back {
        width: 100%;
    }
    .imgBox {
        height: 300px;
    }
    .textBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
        .applyBtn {
            width: 250px;
            height: 60px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.styleBenefits {
    .intro {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 0;
            text-align: center;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
    .benefitsCard {
        width: auto;
        height: 300px;
        .cardWrapper {
            padding: 16px;
            span {
                min-width: 60%;
                min-height: 60px;
                border-radius: 30px;
                font-size: 16px;
                line-height: 24px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
            a {
                font-size: 16px;
                line-height: 24px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
.styleRegister {
    h1 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
 
    .left {
        img {
            width: auto;
            height: 300px;
            object-fit: contain;
        }
    }
    .right {
        padding: 24px;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 30px;
            line-height: 40px;
            width: 100%;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
}