//Color variables
$red: #DD8797;
$green: #00AE8D;
$dark: #292929;
$light: #F4F4F4;
$orange: #FFB548;
$blue: #1226AA;

//Font
@font-face {
    font-family: "proximaNova";
    src: url("../assets/Fonts/Proxima\ Nova\ Font.otf");
}

//Body styles
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "proximaNova";
}

//Main Nav Menu
nav {
    min-height: 96px;
    .logo {
        width: auto;
        height: auto;
    }
    .pageLinks {
        a {
            font-size: 16px;
            font-weight: 400;
            color: $dark;
            padding: 0 12px !important;
        }
        .activeLink {
            font-weight: bolder !important;
            color: $blue !important;
        }
    }
    .navIcons {
        img {
            width: 46.61px;
            height: 46.61px;
            margin: 0 15px;
        }
    }
    .navBtns {
        a {
            min-width: 168px;
            height: 60px;
            font-size: 16px;
            border: 3px solid $blue;
            border-radius: 30px;
            margin: 0 15px !important;
            transition: all .2s ease-in-out;
        }
        .call {
            color: white;
            font-weight: bold;
            background: $blue;
        }
        .login {
            color: $blue;
            background: transparent;
            &:hover {
                background: $blue;
                color: white;
            }
        }
    }
}

//Responsive Navigation
.responsiveNav {
    height: 90px;
    display: none;
    .logo {
        width: auto;
        height: auto;
    }
    .mobileLogo {
        width: auto;
        height: auto;
        display: none;
    }
    .navIcons {
        img {
            width: 40.61px;
            height: 40.61px;
        }
    }
}

//Overlay Menu
.menuOverlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $dark; 
    z-index: 100;
    transition: all .3s ease-in-out;
    .overlayWrapper {
        width: 100%;
        height: 100%;
    }
    .menuClose {
        position: absolute;
        top: 20px;
        right: 40px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    .overlayLinks {
        a {
            font-size: 16px;
            font-weight: 400;
            color: $light;
        }
        .activeLink {
            font-weight: bolder !important;
            color: $blue !important;
        }
    }
    .overlayBtns {
        a {
            min-width: 140px;
            height: 60px;
            font-size: 16px;
            border: 3px solid $blue;
            border-radius: 30px;
            transition: all .3s ease-in-out;
        }
        .call {
            color: white;
            font-weight: bold;
            background: $blue;
        }
        .login {
            color: $blue;
            background: transparent;
            &:hover {
                background: $blue;
                color: white;
            }
        }
    }
    .overlaySocial {
        img {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
    }
}
.menuOverlay.open {
    opacity: 1;
    visibility: visible;
}

//footer 
footer {
    background: #EACBD1;
    height: auto;
    color: $dark;
    
    .top {
        display: grid;
        grid-template-columns: 2fr 3.5fr 1fr;
        grid-gap: 30px;
    }
    .logoSection {
        img {
            width: auto;
            height: auto;
            object-fit: cover;
            object-position: left;
        }
        p {
            font-size: 32px;
            font-weight: normal;
            line-height: 40px;
            color: $dark;
        }
        input {
            width: 100%;
            height: 78px;
            background: $dark;
            color: white;
            outline: none;
            border-radius: 50px;
            font-size: 24px;
            line-height: 32px;
            &::placeholder {
                color: #EACBD1;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
    
    .linkSection {
        grid-template-columns: 1fr 1fr 1.5fr 1fr;
        .sect {
            h5 {
                color: $dark;
                font-size: 24px;
                line-height: 32px;
                font-weight: bold;
            }
            a { 
                font-size: 16px;
                line-height: 24px;
                color: $dark;
                font-weight: bold;
            }
        }
    }
    .iconSection {
        h5 {
            color: $dark;
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
        }
        img {
            width: 38px;
            height: 38px;
        }
    }
    .footerEnd {
        img {
            width: 29px;
            height: 29px;
        }   
        p {
            font-size: 24px;
            font-weight: normal;
            line-height: 40px;
        }
    }
}

/*MEDIA QUERY*/
//Big Screens
@media only screen and (max-width: 1600px) {
    nav {
        .logo {
            width: auto;
            height: auto;
        }
        .pageLinks {
            margin: 0 5px !important;
            a {
                font-size: 15px;
                font-weight: 400;
                color: $dark;
                padding: 0 !important;
            }
        }
        .navIcons {
            margin: 0 5px !important;
            img {
                width: 30px;
                object-fit: cover;
                height: 30px;
                margin: 0 5px !important;
            }
        }
        .navBtns {
            margin: 0 5px !important;
            a {
                min-width: 120px;
                height: 60px;
                font-size: 15px;
                margin: 0px 5px !important;
            }
        }
    }
    
    footer {
        .logoSection {
            p {
                font-size: 22px;
                line-height: 32px;
            }
            input {
                height: 60px;
                font-size: 16px;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
        .linkSection {
            h5 {
                font-size: 21px !important;
                line-height: 32px;
            }
        }
        .iconSection {
            h5 {
                font-size: 22px;
                line-height: 32px;
            }
            img {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
        .footerEnd {
            img {
                width: 25px;
                height: 25px;
            }   
            p {
                font-size: 20px;
                font-weight: normal;
                line-height: 32px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    nav {
        display: none !important;
    }
    .responsiveNav {
        display: flex;
        .navIcons {
            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }
    }
    .menuOverlay {
        .overlayLinks {
            a {
                font-size: 32px;
                font-weight: 800;
                color: $light;
                transition: all .2s ease-in-out;
                &:hover {
                    color: $blue;
                }
            }
            .activeLink {
                font-weight: bolder !important;
                color: $blue !important;
            }
        }
        .overlaySocial {
            img {
                width: 40px !important;
                height: 40px !important;
                object-fit: cover;
            }
        }
    }
}

//Small laptops and tablets (768-1024) 
@media only screen and (max-width: 1024px) {
    nav {
        display: none !important;
    }
    .responsiveNav {
        display: flex;
        .navIcons {
            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }
    }
    .menuOverlay {
        .overlayLinks {
            a {
                font-size: 24px;
                font-weight: 600;
                color: $light;
                transition: all .2s ease-in-out;
                &:hover {
                    color: $blue;
                }
            }
            .activeLink {
                font-weight: bolder !important;
                color: $blue !important;
            }
        }
        .overlaySocial {
            img {
                width: 30px !important;
                height: 30px !important;
                object-fit: cover;
            }
        }
    }
    footer {
        background: #EACBD1;
        height: auto;
        color: $dark;
        
        .top {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-gap: 30px;
        }
        .logoSection {
            img {
                width: auto;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
            p {
                font-size: 18px;
                font-weight: normal;
                line-height: 24px;
                color: $dark;
            }
            input {
                width: auto;
                height: 60px;
                background: $dark;
                color: white;
                outline: none;
                border-radius: 25px;
                font-size: 16px;
                line-height: 24px;
                &::placeholder {
                    color: #EACBD1;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        
        .linkSection {
            grid-template-columns: 1fr 1fr 1.5fr 1fr !important;
            .sect {
                h5 {
                    color: $dark;
                    font-size: 18px !important;
                    line-height: 24px;
                    font-weight: bolder !important;
                }
                a { 
                    font-size: 14px;
                    line-height: 24px;
                    color: $dark;
                    font-weight: bold;
                }
            }
        }
        .iconSection {
            display: none;
        }
        .footerEnd {
            img {
                width: 25px;
                height: 25px;
            }   
            p {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
            }
        }
    }
    
}

//Tablets
@media only screen and (max-width: 768px) {
    .responsiveNav {
        height: 80px;
        .logo {
            width: auto;
            height: auto;
        }
        .navIcons {
            img {
                width: 30.61px;
                height: 30.61px;
            }
        }
    }
    .menuOverlay {
        .overlayLinks {
            a {
                font-size: 20px;
                font-weight: 500;
                color: $light;
                transition: all .2s ease-in-out;
                &:hover {
                    color: $blue;
                }
            }
            .activeLink {
                font-weight: bolder !important;
                color: $blue !important;
            }
        }
        .overlaySocial {
            img {
                width: 24px !important;
                height: 24px !important;
                object-fit: cover;
            }
        }
    }
    footer {
        background: #EACBD1;
        height: auto;
        color: $dark;
        .top {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
        .logoSection {
            img {
                width: auto;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
            p {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                color: $dark;
            }
            input {
                width: 40vw;
                height: 60px;
                font-size: 16px;
                line-height: 24px;
                &::placeholder {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        
        .linkSection {
            grid-template-columns: 1fr 1fr 1fr 1fr !important;
            .sect {
                h5 {
                    color: $dark;
                    font-size: 18px !important;
                    line-height: 24px;
                    font-weight: bolder !important;
                }
                a { 
                    font-size: 14px;
                    line-height: 24px;
                    color: $dark;
                    font-weight: bold;
                }
            }
        }
        .footerEnd {
            img {
                width: 25px;
                height: 25px;
            }   
            p {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 540px) {
    .responsiveNav {
        height: 80px;
        .logo {
            display: none !important;
        }
        .mobileLogo {
            display: flex !important;
            height: 50px;
            width: auto;
            object-fit: contain;
        }
        .navIcons {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .menuOverlay {
        .overlayLinks {
            a {
                font-size: 16px;
                font-weight: 500;
            }
        }
        .overlayBtns {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin: 0;
            padding: 0;
            margin-top: 40px;
            a {
                min-width: 140px;
                height: 60px;
                font-size: 16px;
                border: 3px solid $blue;
                border-radius: 25px;
                margin: 0;
                padding: 0;
            }
            .call {
                color: white;
                font-weight: bold;
                background: $blue;
            }
            .login {
                color: $blue;
                background: transparent;
            }
        }
    }
    footer {
        .logoSection {
            p {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
                color: $dark;
            }
            input {
                width: 100%;
                height: 60px;
            }
        }
        
        .linkSection {
            grid-template-columns: 1fr 1fr !important;
            grid-row-gap: 20px;
            .sect {
                align-items: center !important;
            }
        }
        .footerEnd {
            img {
                width: 25px;
                height: 25px;
            }   
            p {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
            }
        }
    }
}

//Page File Imports
@import "./home";
@import "./products";
@import "./about";
@import "./style";
@import "./impact";
@import "./news";
@import "./contact";